<a href="/"> &larr; Back to main Page</a>
<h1>Hello {{user.username}} </h1>
<div class="user-dashboard" >
  <h3> Dog Name: {{user.dogname}} </h3>
  <div>
    <h3> Dog Breed: <span id="dogBreed">{{user.dogbreed}}</span> </h3>
    <button type="button" id="dogPic" class="dogPic">Get a Picture of Your Dog's Breed</button>
  </div>
  <h3> Email: {{user.email}} </h3>
</div>

{{#if user.voted_parks.length}}
<h4>Parks you have voted for</h4>
<ul>
  {{#each user.voted_parks as |voted_parks|}}
  <li>{{voted_parks.park_name}}</li>      
  {{/each}}
</ul>
{{/if}}

{{#if user.comments.length}}
<div class="comments">
  <h4>Comments made by you:</h4>
  {{#each user.comments as |single-comment|}}
  <div class="comment">
    <h5>Park: {{single-comment.park.park_name}}</h5>
    
    <p>{{single-comment.comment_text}}</p>
  </div>
  {{/each}}
</div>
{{/if}}

<script src="/javascript/addDogPic.js"></script>