  <h1>Hello {{username}} </h1>
  <div class="user-dashboard" >
    <h3> Username: {{user.username}} </h3>
    <h3> Dog Name: {{user.dogname}} </h3>
    <h3> Dog Breed: {{user.dogbreed}} </h3>
    <h3> Email: {{user.email}} </h3>
  </div>

