<div>
    <article class="">
        <div class="">
            <h2>{{park.park_name}}</h2>
            <button type="button" class="upvote-btn">Vote for the dog park</button>
        </div>

        <h3>Comments about the park</h3>
        <form class="comment-form">
            <button type="submit">Add Comment</button>
            <div>
                <textarea name="comment-text"></textarea>
            </div>
        </form>
        <div class="comments">
            {{#each park.comments as |single-comment|}}
            <div class="comment">
                {{single-comment.comment_text}}
                :  comment made by {{single-comment.user.username}} @ {{format_date single-comment.created_at}}
            </div>
            {{!-- <button type="button" id="dogPic">Dog Breed = <span id="breed">{{single-comment.user.dogbreed}}</span></button> --}}
                <form class="">
                    <div>
                        {{!-- <h2 name="dog-breed" type="text" value="{{single-comment.user.dogbreed}}">{{single-comment.user.dogbreed}}</h2> --}}
                        <h2 id="dogBreed">{{single-comment.user.dogbreed}}</h2>
                        <button type="button" id="dogPic" class="dogPic">Dog Breed</button>
                    </div>
                </form>
            {{/each}}
        </div>
    </article>


</div>


<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
<script src="/javascript/addDogPic.js"></script>