<h2>{{park.park_name}}</h2>



{{!-- <div>
    <article class="card">
        <div class="post border">
            <h2>{{park_name}}</h2>
        </div>

        <div class="comments">
            {{#each comments as |single-comment|}}
            <div class="comment">
                {{single-comment.comment_text}}
                :  comment made by {{single-comment.user.username}} @ {{format_date single-comment.created_at}}
            </div>
            {{/each}}
        </div>
    </article>

    <form class="comment-form">
        <div>
            <textarea name="comment-text"></textarea>
            <button type="submit">Add Comment</button>
        </div>
    </form>

</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}} --}}